* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v53_101 {
    width: 100%;
    height: 832px;
    background: rgba(255,240,244,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v53_103 {
    width: 268px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    left: 422px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: left;
  }
  .v54_106 {
    width: 286px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 202px;
    left: 164px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v54_109 {
    width: 382px;
    height: 60px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 423px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v54_110 {
    width: 333px;
    height: 69px;
    background: url("../images/v54_110.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 196px;
    left: 931px;
    overflow: hidden;
  }
  .v54_111 {
    width: 174px;
    height: 69px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v54_112 {
    width: 164px;
    height: 62px;
    background: rgba(165,213,216,1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v54_113 {
    width: 286px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 47px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v54_114 {
    width: 324px;
    height: 69px;
    background: url("../images/v54_114.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 679px;
    left: 355px;
    overflow: hidden;
  }
  .v54_115 {
    width: 174px;
    height: 69px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v54_116 {
    width: 164px;
    height: 62px;
    background: rgba(165,213,216,1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v54_117 {
    width: 286px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8px;
    left: 38px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v139_56 {
    width: 147px;
    height: 103px;
    background: url("../images/v139_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 17px;
    overflow: hidden;
  }
  .v316_4 {
    width: 294px;
    color: rgba(217,183,183,0.3700000047683716);
    position: absolute;
    top: 202px;
    left: 464px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v316_8 {
    width: 131px;
    height: 121px;
    background: url("../images/v316_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 1100px;
    overflow: hidden;
  }
  .v323_21 {
    width: 100%;
    height: 279px;
    background: url("../images/v323_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 310px;
    left: 83px;
    overflow: hidden;
  }
  .v318_57 {
    width: 100%;
    height: 279px;
    background: url("../images/v318_57.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v318_49 {
    width: 100%;
    height: 276px;
    background: url("../images/v318_49.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 1px;
    overflow: hidden;
  }
  .v316_47 {
    width: 100%;
    height: 276px;
    background: url("../images/v316_47.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v316_45 {
    width: 100%;
    height: 276px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 3px;
    overflow: hidden;
  }
  .v316_46 {
    width: 100%;
    height: 224px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 52px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v323_6 {
    width: 100%;
    height: 279px;
    background: url("../images/v323_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v318_60 {
    width: 107px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    left: 54px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v318_61 {
    width: 223px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 338px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v318_62 {
    width: 223px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    left: 888px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v320_63 {
    width: 757px;
    color: rgba(138,125,125,1);
    position: absolute;
    top: 793px;
    left: 13px;
    font-family: Grenze;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  