* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v22_2 {
  width: 100%;
  height: 832px;
  background: rgba(253,219,179,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v232_354 {
  width: 100%;
  height: 832px;
  background: url("../images/v232_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v232_356 {
  width: 387px;
  height: 341px;
  background: rgba(245,229,229,0.4699999988079071);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 448px;
  overflow: hidden;
}
.v75_38 {
  width: 100%;
  height: 832px;
  background: rgba(147,110,110,0.5199999809265137);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v232_357 {
  width: 690px;
  height: 773px;
  background: rgba(217,217,217,0.5600000023841858);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 288px;
  overflow: hidden;
}
.v22_4 {
  width: 624px;
  height: 90px;
  background: linear-gradient(rgba(255,255,255,1), rgba(23,25,25,0.6200000047683716));
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 324px;
}
.v146_121 {
  width: 624px;
  height: 90px;
  background: linear-gradient(rgba(255,255,255,1), rgba(23,25,25,0.6200000047683716));
  opacity: 1;
  position: absolute;
  top: 578px;
  left: 315px;
}
.v146_75 {
  width: 179px;
  height: 93px;
  background: url("../images/v146_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 716px;
  left: 369px;
  overflow: hidden;
}
.v69_4 {
  width: 170px;
  height: 83px;
  background: url("../images/v69_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v69_3 {
  width: 170px;
  height: 83px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v146_65 {
  width: 170px;
  height: 83px;
  background: url("../images/v146_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 9px;
  overflow: hidden;
}
.v146_68 {
  width: 170px;
  height: 83px;
  background: url("../images/v146_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v146_66 {
  width: 170px;
  height: 83px;
  background: rgba(68,202,90,0.3499999940395355);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v146_67 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 52px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v69_5 {
  width: 181px;
  height: 97px;
  background: url("../images/v69_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 744px;
  overflow: hidden;
}
.v69_6 {
  width: 170px;
  height: 83px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v69_8 {
  width: 162px;
  height: 75px;
  background: linear-gradient(rgba(58,157,249,0), rgba(58,157,249,1));
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v146_69 {
  width: 170px;
  height: 83px;
  background: url("../images/v146_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 11px;
  overflow: hidden;
}
.v146_73 {
  width: 170px;
  height: 83px;
  background: url("../images/v146_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v146_70 {
  width: 170px;
  height: 83px;
  background: url("../images/v146_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v146_71 {
  width: 170px;
  height: 83px;
  background: rgba(68,202,90,0.41999998688697815);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v146_72 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 50px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_43 {
  width: 87px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 384px;
  left: 308px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_44 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 546px;
  left: 341px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v139_53 {
  width: 423px;
  height: 328px;
  background: url("../images/v374_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 430px;
  overflow: hidden;
}
.v316_2 {
  width: 294px;
  color: rgba(0,0,0,0.5400000214576721);
  position: absolute;
  top: 430px;
  left: 341px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v316_3 {
  width: 294px;
  color: rgba(0,0,0,0.47999998927116394);
  position: absolute;
  top: 592px;
  left: 341px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
