* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v374_10 {
  width: 100%;
  height: 832px;
  background: rgba(212,233,235,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v374_17 {
  width: 100%;
  height: 142px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
}
.v374_18 {
  width: 153px;
  height: 153px;
  background: url("../images/v374_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v374_19 {
  width: 115px;
  height: 111px;
  background: url("../images/v374_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1200px;
  overflow: hidden;
}
.v374_21 {
  width: 296px;
  height: 39px;
  background: url("../images/v374_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 808px;
  overflow: hidden;
}
.v374_22 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v374_26 {
  width: 116px;
  height: 39px;
  background: url("../images/v374_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 666px;
  overflow: hidden;
}
.v374_24 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v374_42 {
  width: 382px;
  height: 96px;
  background: url("../images/v374_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 205px;
  overflow: hidden;
}
.v374_43 {
  width: 382px;
  color: rgba(128,126,126,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v385_290 {
  width: 100%;
  height: 798px;
  background: url("../images/v385_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 13px;
  overflow: hidden;
}
.v374_15 {
  width: 100%;
  height: 93px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 702px;
  left: 13px;
  overflow: hidden;
}
.v374_16 {
  width: 100%;
  height: 70px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 725px;
  left: 13px;
  overflow: hidden;
}
.v374_12 {
  width: 95px;
  height: 100px;
  background: url("../images/v374_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 695px;
  left: 1067px;
  overflow: hidden;
}
.v374_13 {
  width: 97px;
  height: 81px;
  background: url("../images/v374_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 704px;
  left: 810px;
  overflow: hidden;
}
.v374_14 {
  width: 89px;
  height: 103px;
  background: url("../images/v374_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 695px;
  left: 942px;
  overflow: hidden;
}
.v374_39 {
  width: 685px;
  height: 39px;
  background: url("../images/v374_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 721px;
  left: 27px;
  overflow: hidden;
}
.v374_40 {
  width: 685px;
  color: rgba(128,126,126,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v374_28 {
  width: 100%;
  height: 795px;
  background: url("../images/v374_28.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v445_197 {
  width: 355px;
  height: 485px;
  background: url("../images/v445_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 462px;
  overflow: hidden;
}
.v374_30 {
  width: 355px;
  height: 485px;
  background: rgba(255,239,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v374_32 {
  width: 278px;
  height: 288px;
  background: url("../images/v374_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 42px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v374_34 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 334px;
  left: 60px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v445_195 {
  width: 355px;
  height: 488px;
  background: url("../images/v445_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 64px;
  overflow: hidden;
}
.v374_29 {
  width: 355px;
  height: 485px;
  background: rgba(255,239,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v374_33 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 341px;
  left: 59px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v374_36 {
  width: 279px;
  height: 288px;
  background: url("../images/v374_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 48px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v445_199 {
  width: 355px;
  height: 486px;
  background: url("../images/v445_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 859px;
  overflow: hidden;
}
.v374_31 {
  width: 355px;
  height: 486px;
  background: rgba(255,239,252,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v374_35 {
  width: 243px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 334px;
  left: 100px;
  font-family: Grenze;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v374_37 {
  width: 279px;
  height: 288px;
  background: url("../images/v374_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
